global:
  log_level: DEBUG
  user_agent: 'MS-CompetitorBot/1.0 (+contact: ci@membersolutions.com)'
  request_timeout_s: 20
  max_pages_per_site: 60
  follow_within_domain_only: true
  dedupe_window_days: 365
  slack_webhook_env: SLACK_WEBHOOK_URL
  # Webhook settings for newsletter ingestion
  webhook_port: 8001
  # dev email cloudmailin ee1e4d9fcf023ad684bc@cloudmailin.net
  # dev domain ngrok https://dervishlike-rosalia-rostrally.ngrok-free.dev
  webhook_host: '0.0.0.0'
  alert_on_impact_levels:
  - High

# AI Classification Settings
classification:
  categories:
    - Product/Feature
    - Pricing/Plans
    - Partnership
    - Acquisition/Investment
    - Case Study/Customer
    - Events/Webinar
    - Best Practices/Guides
    - Security/Compliance
    - Hiring/Leadership
    - Company News
    - Other

  impact_rules:
    high:
      - pricing change
      - major feature GA
      - acquisitions
      - big partnerships
      - security incidents
    medium:
      - meaningful feature update
      - big case study
      - notable event announcements
    low:
      - generic tips
      - routine posts

  # Industry context for the AI prompt
  industry_context: "membership/club management software"
competitors:
- name: Kicksite
  start_urls:
  - https://kicksite.com/blog
  - https://kicksite.com/newsletters/
- name: Spark Membership
  start_urls:
  - https://sparkmembership.com/blog/
- name: MyStudio
  start_urls:
  - https://www.mystudio.io/blog
- name: ZenPlanner (Daxko)
  start_urls:
  - https://zenplanner.com/blog/
  - https://www.daxko.com/blog
- name: GloFox (ABC Fitness)
  start_urls:
  - https://www.glofox.com/blog/
  - https://www.abcfitness.com/resources/blog/
- name: ClubOS (Formerly ASF)
  start_urls:
  - https://www.club-os.com/blog
- name: BJJ Link
  start_urls:
  - https://bjjlink.com/features
- name: Member Solutions
  start_urls:
  - https://membersolutions.com/blog/
